.breadcrumb-block {
  display: flex;
  align-items: center;
}

.breadcrumb-block span {
  margin: 3px 10px 0 10px;
  font-size: 7px;
}

.breadcrumb-block .breadcrumb-item a {
  color: var(--orangeText);
  font-size: 11px;
}
