:root {
  --lightRed: 171, 0, 18;
  --lightYellow: 245, 214, 111;
  --lightOrange: 255, 101, 8;
  --darkRed: 157, 32, 26;
  --darkGreen: 72, 145, 42;
  --orangeText: #FF6508;
  --darkRedText: #9D201A;
}
